<div class="container">
    <form #f="ngForm">
       <label> Name </label> <input placeholder="Name"class="form-control" type="text" #Name="ngModel" ngModel name="Name"><br>
       <label> Details </label> <input placeholder="Details" class="form-control" type="text" #Details="ngModel" ngModel name="Details"><br>
       <label> Prix </label><input placeholder="Prix" class="form-control" type="text" #Prix="ngModel" ngModel name="Prix"><br>
       <label> image </label><input placeholder="image" class="form-control" type="text" #image="ngModel" ngModel name="image"><br>
<img  *ngIf="f.value.image"   [src]="f.value.image" width="160px" height="120px"><br><br><br>
<button class="btn btn-primary" (click)="onPostProduit(f.value)" >Ajouter</button>

    </form>
</div>
