<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6">
            <h1>Vilavi</h1>
            <p>It's not just Ice cream</p>
        </div>
        <!--socialmedia -->
        <div class="col lg-2" style="float: right;">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>