<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col" *ngFor="let p of foodData"> 
      <div class="card">
        <img [src]="p.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.Name}}</h5>
          <p class="card-text">{{p.Details}}</p>
          <p class="card-text">{{p.Prix}} TND</p><br>
          <button (click)="supprimerProd(p.id)" class="btn btn-danger">Supprimer</button>  
        </div>
      </div>
    </div>
  </div>