.card-img
{
    width:80%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.card-title h5
{
    font-size:18px;
    margin-top:20px;
    font-weight: bold;
}
.buyBtn
{
    color: #000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none ;
    font-size: 15px;
    border-radius: 5px;
    cursor:pointer;
}