<div class="row row-cols-1 row-cols-md-4 g-4">

    <div class="col" *ngFor="let d of data"> 
      <div class="card">
        <img [src]="d.image" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{d.Name}}</h5>
          <p class="card-text">{{d.Details}}</p>
          <p class="card-text">{{d.Prix}} TND</p><br>
          <button (click)="buyBtn()" class="buyBtn">Buy Now</button><br><br>
          <button (click)="supprimerBtn(d.id)" class="btn btn-danger">Supprimer</button>  
        </div>
      </div>
    </div>
  </div>